
*{
    margin: 0;
    padding: 0 auto;
}

p{
    text-align: justify;
}
h1{
    text-align: center;
}

.Foto{
    padding-top: 15px ;
    width: 30%;
    height: 20%;
    margin-left: 55vh;
}


.main{
    width: 100%;
    display: flex;
    justify-content: center;
}
.content{
    width: 80%;
}

a{
    text-decoration: none;
    font-size: larger;
}